<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Actual vs Predicted Revenue for GPS units Report</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            #cancel {
                position: relative;
                left: 70px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Actual vs Predicted Revenue for GPS units Report</h2>
            <table id='report-table' class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Total Sold Units</th>
                        <th>Total Sold Discounted Units</th>
                        <th>Predicted Revenue</th>
                        <th>Difference</th>
                    </tr>
                </thead>
                <tbody class='template-row hidden'>
                    <tr>
                        <td class='product_id'></td>
                        <td class="product_name"></td>
                        <td class="total_sold_units"></td>
                        <td class="total_sold_discounted_units"></td>
                        <td class="predicted_revenue"></td>
                        <td class="difference"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
    <script src="../js/actual_vs_predicted_revenue_for_gps_units.js"></script>
    <script>
        function backToMenu(){
            var position = sessionStorage.getItem("currentUserPosition");
            console.log(position);

            if (position == "user") {
                window.open('http://localhost:8888/Phase3/html/main_menu.html', "_self");
            }
            
        }
    </script>

</html>