<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Air Conditioners on Groundhog Day Report</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            #cancel {
                position: relative;
                left: 70px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Air Conditioners on Groundhog Day Report</h2>
            <table id='report-table' class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Total Item Sold</th>
                        <th>Average of Units Sold per Day</th>
                        <th>Total Item Sold on Groundhog Day</th>  
                    </tr>
                </thead>
                <tbody class='template-row hidden'>
                    <tr>
                        <td class='year'></td>
                        <td class="total_item_sold"></td>
                        <td class="average_of_units_sold_per_day"></td>
                        <td class="total_item_sold_on_groundhog_day"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
    <script src="../js/air_conditioners_on_groundhog_day _report.js"></script>
    <script>
        /*
        function backToMenu(){
            var position = sessionStorage.getItem("currentUserPosition");
            console.log(position);

            if (position == "user") {
                window.open('http://localhost:8888/Phase3/html/main_menu.html', "_self");
            }
            
        }
        */
    </script>

</html>