<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Category Report</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <section id="services" class="section-padding bg-gray">
            
          <div class="container">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Category Report</h2>
            </div>
                <table id='report-table' class="table">
                    {% if result %}
                    <tr>
                        <th>Category Name</th>
                        <th>Total Numbers of Product</th>
                        <th>Total Numbers of Manufacturer</th>
                        <th>Average Price</th>
                    </tr>
                    {% for row in result %}
                    <tr>
                        <td> {{ row.CategoryName }}</td>
                        <td> {{ row.TotalProduct }}</td>
                        <td> {{ row.TotalManufacturer }}</td>
                        <td> {{ row.AvePrice }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
          </div>
                       
            
        </section>

        {% endblock %}
        
    </body>
</html>