<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Revenue by Population</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <section id="services" class="section-padding bg-gray">
            
          <div class="container">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Revenue by Population</h2>
            </div>
                <table id='report-table' class="table">
                    {% if result %}
                    <tr>
                        <th>Year</th>
                        <th>Small</th>
                        <th>Medium</th>
                        <th>Large</th>
                        <th>Extra Large</th>
                    </tr>
                    {% for row in result %}
                    <tr>
                        <td> {{ row.Year|int }}</td>
                        <td> {{ row.Small }}</td>
                        <td> {{ row.Medium }}</td>
                        <td> {{ row.Large }}</td>
                        <td> {{ row['Extra Large'] }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
          </div>
                       
            
        </section>

        {% endblock %}
        
    </body>
</html>